.trip-form-container {
	display: flex;
	flex-direction: column;
	width: 60vw;
	height: 35vh;
	border-radius: 4px;
}

.input-field {
	width: 40%;
	box-sizing: border-box;
}

.MuiAutocomplete-root {
	width: 40%;
	box-sizing: border-box;
}
.form-row {
	min-width: 50%;
	display: flex;
	justify-content: space-between;
}
.step-container {
	display: flex;
	height: 25vh;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	gap: 4rem;
}

.modal-buttons-container {
	display: flex;
	gap: 2rem;
}

.modal-button {
	width: 20vw;
}
.modal-form-container {
	display: flex;
	gap: 2rem;
}

.travel-event-container {
	padding: 2rem;
	display: grid;
	grid-template-columns: 1fr 1fr;
	gap: 2rem;
}

.travel-event-list {
	display: flex;
	flex-direction: column;
	padding-left: 1rem;
	padding-right: 1rem;
	padding-bottom: 0.5rem;
	gap: 2rem;
	height: 28vh;
	overflow: scroll;
}

.favorite-activities-container {
	width: 100%;
	padding-left: 1rem;
	padding-right: 1rem;
	padding-bottom: 0.5rem;
	height: 28vh;
	display: flex;
	overflow-x: scroll;
	gap: 1rem;
}
