:root {
	--primaryColor: #1cb985;
}

.dashboard-container {
	display: flex;
	height: 100vh;
	align-items: flex-start;
	justify-content: center;
	padding-top: 4rem;
}

.navbar-logo {
	width: 20vw;
	display: flex;
	gap: 1rem;
	align-items: center;
}
.navbar-login {
	width: 20vw;
	display: flex;
	justify-content: flex-end;
}
.navbar-links {
	width: 60vw;
}
.css-1t6c9ts {
	display: flex;
	gap: 2rem;
	font-weight: 900;
	justify-content: center;
}

a:link {
	text-decoration: none;
}

a:visited {
	text-decoration: none;
}

a:hover {
	text-decoration: underline;
}

a:active {
	text-decoration: underline;
}

a:-webkit-any-link {
	text-decoration: none;
	color: inherit;
}

.css-2uchni {
	display: flex;
	gap: 1rem;
}

.navbar-link-item {
	padding: 1rem 2rem 1rem 2rem;
	border-radius: 12px;
}
