@font-face {
	font-family: gilroy;
	src: url('./assets/Gilroy-FREE/Gilroy-ExtraBold.otf');
	font-weight: bold;
}
@font-face {
	font-family: gilroy;
	src: url('./assets/Gilroy-FREE/Gilroy-Light.otf');
	font-weight: normal;
}
:root {
	--color-logo: red;
}

.activityCard {
	background-color: var(--color-logo);
}

.MuiButtonBase-root {
	font-family: 'gilroy', -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto',
		'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue';
}
body {
	margin: 0;
	font-family: 'gilroy', -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto',
		'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
		sans-serif;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

code {
	font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
		monospace;
}
